body{
    background-image: url("./assets/Desktop2.jpg");
    background-size: cover;
}

.title{
    font-weight: bold;
}

.form-select{
    background: #000000;
    color: #fff;
    border-radius: 0
}

.form-select:focus {
    border-color: #FFF;
    outline: 0;
    box-shadow: none;
}

.transparent-box {
    border: 1px solid #fff;
    margin-top: 20px;
    padding: 20px;
    background: rgba(255,255,255, 0.4);
    color: #000;
}

.transparent-box.last {
    margin-bottom: 20px;
}

a{
    color: #000;
    text-decoration: none;
}

/* Media Queries */

@media only screen 
    and (min-width: 319px) 
    and (max-height : 824px) 
    and (orientation: portrait){ 
        body{
            background-image: url("./assets/Mobile.png");
        }
        .transparent-box {
            text-align: center;
            line-height: 1.3;
        }

    }